<div class="dashboard-page">
    <h1>Astro. Sistemas planetários </h1>
    <!-- <h5>Cálculo dos Elementos Orbitais</h5> -->
    <div class="Row">
        <h5>Calcular elementos orbitais dos planetas do sistema solar.</h5>
        <p>Para calcular os elementos orbitais do sistema solar é necessário informar uma data .....</p>
        <mat-form-field>
            <mat-label>Escolha a data:</mat-label>
            <input matInput [ngxMatDatetimePicker]="picker" [formControl]="dateControl" [min]="minDate" [max]="maxDate"
                [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                [color]="color" [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
            </ngx-mat-datetime-picker>

        </mat-form-field>
        <button mat-raised-button color="primary" (click)="calcularElementosOrbitais()">Calcular</button>
    </div>

    <div *ngIf="tablesHabilitadas">
        <h5>Elementos orbitais</h5>
        <div class="mat-elevation-z8 data-table">

            <table mat-table [dataSource]="dataSourceElementosOrbitais" matSort class="table-responsive-material">
                <!-- ID Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"> Planeta </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="tempo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"> Tempo </th>
                    <td mat-cell *matCellDef="let row"> {{row.tempo}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="longitudeNodoAscendente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px"
                        matTooltip="Ω (o) longitude do modo ascendente"> Ω(o)</th>
                    <td mat-cell *matCellDef="let row"> {{row.longitudeNodoAscendente | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="inclinacaoPlanoOrbitalTerra">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px"
                        matTooltip="i (o)  Inclinação em relação ao plano orbital da terra">i(o)
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.inclinacaoPlanoOrbitalTerra | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="argumentoPerielio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px"
                        matTooltip="ω(o) Argumento de periélio">ω(o)
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.argumentoPerielio | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="semiEixoMaiorOrbita">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px"
                        matTooltip="a(ua) Semieixo maior da órbita">a(ua)
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.semiEixoMaiorOrbita | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="excentricidadeOrbita">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px"
                        matTooltip="e Exenctricidade da órbita">e</th>
                    <td mat-cell *matCellDef="let row"> {{row.excentricidadeOrbita | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="anomaliaMedia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"
                        matTooltip="M(o) Anomalia média">M(o)
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.anomaliaMedia | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="anomaliaExentrica">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"
                        matTooltip="E(o) Anomalia exentrica">E(o)
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.anomaliaExentrica | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="anomaliaVerdadeira">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"
                        matTooltip="ν(o) Anomalia Verdadeira">ν(o)
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.anomaliaVerdadeira | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="distanciaPlanetaSol">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"
                        matTooltip="r (ua) distância do planeta ao Sol">r (ua)
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.distanciaPlanetaSol | number}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsElementosOrbitais"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsElementosOrbitais;">
                </tr>
            </table>
            <!-- 
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
        </div>

        <h5>Coordenadas</h5>
        <div class="mat-elevation-z8 data-table">

            <table mat-table [dataSource]="dataSourceCoordenadas" matSort class="table-responsive-material">

                <!-- ID Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"> Planeta </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="x">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"> X (km) </th>
                    <td mat-cell *matCellDef="let row"> {{row.coordenadaX}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="y">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"> Y (km) </th>
                    <td mat-cell *matCellDef="let row"> {{row.coordenadaY}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="z">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"> Z (km) </th>
                    <td mat-cell *matCellDef="let row"> {{row.coordenadaZ}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="lambda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"> λ (°) </th>
                    <td mat-cell *matCellDef="let row"> {{row.coordenadaLambda}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="beta">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px">β (°)</th>
                    <td mat-cell *matCellDef="let row"> {{row.coordenadaBeta}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCoordenadas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCoordenadas;">
                </tr>
            </table>

            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
</div>